
<!-- 
<h1>Legislators in <%#= @zipcode %></h1>
<p><%#= @user.phone_number %></p>

<%# @legislators['results'].each do |legislator| %>
        <h2><%#= legislator_full_name(legislator) %></h2>
<%# end %>
 -->